body{
	background-color:#000;
	overflow: hidden;
}
body #fb1 {
	position: absolute;
	left:200px;
} 
body #fb {
	position: absolute;
	left:800px;
}

.icon-facebook-sign:hover, .icon-hand-left:hover{
	color:#c78700;
}
.icon-facebook-sign,.icon-hand-left {
	cursor:pointer;
	color:#6697c2;
	/*font-size:500px;*/
}